<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<section>
    <div class="main-content">
        {{>header}}
        <p>This app was created with the help of 
            <a  target="_blank" href="https://www.mapbox.com/">Mapbox</a> & 
            <a target="_blank" href="https://darksky.net">Darksky</a>
        </p>
    </div>

    <img class="portrait" src="/img/ab.jpg">
    {{>footer}}
</section>

</html>