<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<section>
    <div class="main-content">
        {{>header}}
        <p>Need any assistance?</p>
        <h4><a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJTGmzZMVsgfksrKPxQFTrbPbGwjHstRGKMZDRQcKbSHxDRGGvfbMqGmtzJmXVDLtHrjWpL" >{{contact}}</a></h4>
    </div>


    {{>footer}}
</section>


</html>